:root {
    --accent-color: #2E2F42;
    --color-logo: #4D5AE5;
}
 

/* LIST1!!! */
/* BODY! */

body * {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42
}

/* NONE! */
.list {
list-style: none;
}

.link {
    text-decoration: none
} 


/* LOGO! */

.logo {
    
font-family: 'Raleway', sans-serif; 
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-logo);

}

.logo2 {
    color: #F4F4FD;
}

.logo3 {
    color: var(--accent-color);
}
/* MENU! */

.menu-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;


}

.menu-link:hover,
.menu-link:focus {
color: #434455;
;
}

/* CONTACT! */

.contact-mail,
.contact-phone-number {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.contact-mail:hover,
.contact-mail:focus,
.contact-phone-number:hover,
.contact-phone-number:focus {
    color: #4D5AE5;
}



/* HERO! */

.hero {
background:var(--accent-color);
}

.h1 {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #ffffff;


}

.modal-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
     color: #FFFFFF;
     background: #4D5AE5;
     cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
    background: #4D5AE5;
}

/* TYPE! */

.main-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;

}

.main-title-one {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;

}

.paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-group {
    background: #F4F4FD;
}

/* FOOTER! */

.parag-F {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}



.Sector-footer {
    background: var(--accent-color);
}
/* LIST1!!! */



/* LIST2!!! */

/* TYPE! */

.title-one {
     font-family: 'Roboto', sans-serif; 
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;

}

.paragraf {
 font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* BUTTON! */

.btn {
 font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #4D5AE5;
background: #F4F4FD;
cursor: pointer;
}

.btn:hover,
.btn:focus {
    background: #404BBF;;
    color: #FFFFFF;
}